@model ANTS.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>LOGIN</h2>

<form action="/Login/Index" method="post">
    <input class="form-control" type="text" name="email" value="" placeholder="Email" />
    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
    <input class="form-control" type="password" name="password" value="" placeholder="password" />
    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
    <input class="form-control" type="submit" name="login" value="Login" />
</form>
<a href="/Registration/Create" class="btn btn-danger">Sign up</a>
<span>@TempData["ErrorMessage"]</span>