@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="CreateManager" class="btn btn-block">Create Manager</a>
<a href="CreateNotice" class="btn btn-block">Create Notice</a>
<a href="ViewUsers" class="btn btn-block">View Users</a>
<a href="CreateManager" class="btn btn-block">Create Manager</a>
<a href="Dashboard" class="btn btn-block">Income Dashboard</a>

